.header {
  display: flex;
  width: 100%;
  min-width: 1024px;
  height: 1080px;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__nav {
  margin-bottom: 250px;
}

.header__nav-list {
  display: flex;
  height: 80px;
  align-items: center;
}

.header__nav-list li {
  list-style: none;
  margin-left: 30px;

  &:hover {
    opacity: 0.5;
    transition: 0.2s;
  }
}

.header__nav-list li:last-child {
  margin-left: auto;
}

.header__nav-list a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: BeaufortforLOL-Bold;
  font-size: 18px;
  color: #5a5757;
}

.header__logo {
  display: block;
  width: 350px;
  margin: 0 auto;
}


.header h2 {
  width: 590px;
  margin: 0 auto;
  text-align: center;
  font-family: BeaufortforLOL-Bold;
  font-size: 48px;
  color: #fff;
  font-weight: bold;

  margin-bottom: 7px;
}

.header h2 span {
  color: #ffdf38;
}

.header p {
  font-family: BeaufortforLOL-Bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

.header p span {
  color: #ffdf38;
}

.go {
  display: block;
  text-decoration: none;

  padding: 19px;

  width: 303px;
  height: 64px;
  background: rgba(22, 217, 227, 1);
  border-radius: 2px;
  margin: 0 auto;

  font-family: BeaufortforLOL-Bold;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;

  margin-top: 60px;

  &:hover {
    background: rgba(22, 217, 227, 0.5);
    box-shadow: 0px 4px 26px rgba(224, 211, 211, 0.15);
    transition: 0.2s;
  }
}
