body {
  margin: 0;
  padding: 0;
  // color: #0E0E0E;
  min-width: 320px;
  background-color: #30274d;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

.container {
  width: 1024px;
  margin: 0 auto;
}
